# Archivos de desarrollo
target/
.git/
.gitignore
.env
*.log

# Documentación
docs/
README.md
*.md

# Archivos temporales
*.swp
*.swo
*~
**/.DS_Store

# Archivos de Cargo
Cargo.lock

# Otros
.vscode/
.idea/